//$secondary-color: teal;
$input-focus-color: color("teal", "base");
$input-success-color: color("green", "accent-4");

$input-font-size: 1rem;
$input-height: 2.4rem;

$h1-fontsize: 50px;


$switch-checked-lever-bg: color("green", "accent-1");
$switch-unchecked-lever-bg: color("teal", "lighten-4");

$switch-unchecked-bg: color("teal", "base");
$switch-bg-color: color("green", "accent-4");

$secondary-color: color("green", "accent-4");
$radio-empty-color: color("teal", "base");
$radio-fill-color: color("green", "accent-4");
$radio-border: 2px solid color("green", "accent-4");

$tabs-underline-color: color("teal", "base");
$tabs-text-color: color("teal", "base");