@charset "UTF-8";
@import "../node_modules/materialize-css/sass/components/color-variables";
@import "../node_modules/materialize-css/sass/components/color-classes";
@import "variables";
@import "../node_modules/materialize-css/sass/components/variables";

html, body {
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.ie__materialize {
  @import "../node_modules/materialize-css/sass/materialize";
}

html {
  box-sizing: border-box;
}
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  font-family: $font-stack;
  font-weight: normal;
  color: $off-black;
}
*, *:before, *:after {
  box-sizing: inherit;
}