
<!DOCTYPE html>
<html class="ie__materialize">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!--Import materialize.css-->
    <script>
        var css = '<link type="text/css" rel="stylesheet" href="css/styles.css?_={{TIMESTAMP}}"  media="screen,projection"/>';
        document.write(css.replace('{{TIMESTAMP}}', + new Date()));
    </script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container" style="max-width: 500px">
    <div class="row">
        <form class="col s12 card">
            <div class="card-content">
                <div class="center-align">
                    <span class="card-title">Crea tu cuenta</span>
                </div>

                <div class="row">
                    <div class="col s12">
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="tab"><a href="#test1">Test 1</a></li>
                            <li class="tab"><a class="active" href="#test2">Test 2</a></li>
                            <li class="tab"><a href="#test0">Test 5</a></li>
                        </ul>
                    </div>
                </div>

                <p>
                    <label>
                        <input type="checkbox" />
                        <span>Red</span>
                    </label>
                </p>

                <br><br><br>

                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" />
                        <span>Filled in</span>
                    </label>
                </p>

                <br><br><br>

                <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio" />
                        <span>Red</span>
                    </label>

                    <label>
                        <input class="with-gap" name="group1" type="radio" />
                        <span>Blue</span>
                    </label>
                </p>
                <br><br><br>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="email" id="us_login" autocomplete="off" requiredz class="zvalidate">
                        <!--<label for="us_login">* Email</label>-->
                        <span class="helper-text" data-error="El email no es válido"></span>
                    </div>

                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="us_password" required minlength="8" class="validate">
                        <label for="us_password">* Contraseña</label>
                        <span class="helper-text" data-error="La contraseña ha de tener 8 o más caracteres"></span>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix"></i>
                        <input type="password" id="us_password2" required minlength="8" class="validate">
                        <label for="us_password2">* Repite la contraseña</label>
                    </div>
                </div>

                <div class="center row">
                    <a href="login.html" class="blue-text text-lighten-1">¿Ya tienes cuenta?</a>
                </div>

                <p>
                    <label>
                        <input type="checkbox" required/>
                        <span>* Acepto la política de privacidad y términos y condiciones</span>
                    </label>
                </p>

                <p>
                    <label>
                        <input type="checkbox"/>
                        <span>No quiero recibir ofertas y promociones</span>
                    </label>
                </p>
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light blue darken-4">
                    Regístrate
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>