
<!DOCTYPE html>
<html class="ie__materialize">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!--Import materialize.css-->
    <script>
        var css = '<link type="text/css" rel="stylesheet" href="css/styles.css?_={{TIMESTAMP}}"  media="screen,projection"/>';
        document.write(css.replace('{{TIMESTAMP}}', + new Date()));
    </script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container" style="max-width: 500px">
    <div class="row">
        <form class="col s12 card">
            <div class="card-content">
                <div class="center-align">
                    <span class="card-title">Inicia sesión</span>
                </div>
                <div class="input-field colz s12z">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="email" id="us_login" required class="validate">
                    <label for="us_login">* Email</label>
                    <span class="helper-text" data-error="El email no es válido"></span>
                </div>

                <div class="input-field colz s12z">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="us_password" required minlength="8" class="validate">
                    <label for="us_password">* Contraseña</label>
                    <span class="helper-text" data-error="La contraseña ha de tener 8 o más caracteres"></span>
                </div>

                <div class="center">
                    <a href="index.html" class="blue-text text-lighten-1 ">¿Ya tienes cuenta?</a>
                </div>
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light blue darken-4">
                    Accede
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>